*, *::before,*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
}
button, textarea, input{
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;
}
button:focus {
    outline: none;
}

button:active {
    outline: none;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
@media (max-width: 1199.98px){
    
}
@media (max-width: 990.98px){
    
}
@media (max-width: 767.98px){
    
}

/* ////////////////////////////// */

.header {
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.12),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 5px 5px -3px rgba(0, 0, 0, 0.2);
    background: rgba(70, 25, 25, 1);
}
h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.875rem;
    display: flex;
    align-items: center;
}
.header_container {
    display: flex;
    justify-content: space-around;
}
.header_nav {
    display: flex;
    justify-content: center;
    gap: 26;
    padding: 1.875rem 0;
    color: rgba(255, 255, 255, 1);
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.3125rem;
    margin: 0;
}
.header_profile {
    color: rgba(255, 255, 255, 1);
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.3125rem;
    margin: 0;
    display: flex;
    align-items: center;
}

/* ///////////////// */

.main_container {
    position: relative;
    max-height: 100vh;
    color: white;
    background: url("images/background.jpg") top / cover no-repeat;
}
.main-background_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.main-background_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-block {
    padding: 9.5rem 0 12.6875rem 2.8125rem;
}
.main-block_content {
    padding: .625rem 1.1875rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    background: rgba(70, 25, 25, 0.6);
    border-radius: 14px;
    max-width: 37.625rem;
}
.block-content_title {
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 3.75rem;
}
.block-content_text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.375rem;
}
.main-block_button {
    padding-top: 1.0625rem;
}
.button_main-block {
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.3125rem;
    padding: .625rem 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    background: rgba(214, 72, 44, 1);
    transition: all 0.3s;
}
.button_main-block:hover {
    background: rgba(214, 72, 44, 0.772);
}

/* //////////////////////////////// */

.auctions_container {
    padding: 1.625rem 5.0625rem 5.25rem 1.4375rem;
    background: rgba(36, 10, 22, 1);
}
.auctions-list {
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
}
.auctions-list_item {
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    border-radius: 1.25rem;
    background: rgba(235, 237, 239, 1);
    color: #000;
    padding: 1.0625rem 1.6875rem;
}
.list-item_name {
    color: rgba(70, 25, 25, 1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
}
.list-item_id {
    font-size: .75rem;
    font-weight: 400;
    line-height: .75rem;
}
.list-item_description {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
}
.list-item_price {
    color: rgba(70, 25, 25, 1);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
}
.auction-list_button {
}
.list-button {
    color: rgba(255, 255, 255, 1);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.375rem;
    padding: .4375rem 1.125rem;
    border-radius: .625rem;
    background: rgba(70, 25, 25, 1);
}

/* ////////////////////////////// */

.auction-page_container {
    background: rgba(36, 10, 22, 0.95);
    padding: 7.25rem 5.875rem;
}
.auction-page_block {
    display: flex;
    flex-direction: column;
    gap: 1.0625rem;
    border-radius: 1.25rem;
    background: rgba(235, 237, 239, 1);
    padding: 1.8125rem 0 3.5rem 2.0625rem;
    color: #000;
}
.page_item-h2 {
    color: rgba(70, 25, 25, 1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
}
.auction-page_description {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
}
.auction-page_start-price {
    color: rgba(70, 25, 25, 1);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
}
.auction-page_img {
}
.auction-page_status {
}
.page_status-text {
    border-radius: .25rem;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1rem;
    padding: .625rem;
    max-width: 9.375rem;
}
.page_status-winner {
    color: rgba(70, 25, 25, 1);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
}
.auction-page_bids {
}
.page_bids-item {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.auction-page_form {
    margin-bottom: 1.5625rem;
    margin-right: .375rem;
}
.page_form-label {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
    padding-right: .375rem;
}
.page_form-input {
    width: 6.25rem;
    height: 2.125rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    padding: .4375rem;
}
.page_form-button {
    border-radius: .625rem;
    background-color: rgba(70, 25, 25, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.375rem;
    padding: .4375rem 1.125rem;
}
.auction-page_comments {
}
.page_comments-item {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
}
.auction-page_text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
    padding-right: .375rem;
}
.auction-page_textarea {
    padding: .4375rem;
    width: 25rem;
    height: 10.9375rem;
    margin-bottom: .625rem;
}

/* ////////////////////// */

.watchlist-page_container {
    padding: 1.625rem 5.0625rem 5.25rem 1.4375rem;
    background: rgba(36, 10, 22, 1);
}
.watchlist-title {
    padding-bottom: .9375rem;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.0625rem;
}
.watchlist-empty {
    padding-bottom: .9375rem;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.0625rem;
}

/* /////////////////////////// */

.register-page_container {
    background: rgba(36, 10, 22, 0.95);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-page_block {
    border-radius: 1.25rem;
    background: rgba(255, 255, 255, 1);
    padding: 2.8125rem 4.6875rem;
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}
.register-page_title {
    color: rgba(70, 25, 25, 1);
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 3.1875rem;
    text-align: center;
}
.register-page_message {
}
.register-login_form {
    display: flex;
    flex-direction: column;
    gap: .4375rem;
}
.form-group {
}
.form-control {
}
.btn {
    width: 128px;
    border-radius: 15px;
    color: #fff;
    background-color: rgba(70, 25, 25, 1);
    padding: 7px;
    border: none;
    margin: auto;
}
.btn-primary {
}
.register-page_login-register a {
    text-decoration: underline;
}

/* /////////////////////////// */

.login-page_container {
     background: rgba(36, 10, 22, 0.95);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page_block{
    border-radius: 1.25rem;
    background: rgba(255, 255, 255, 1);
    padding: 2.8125rem 4.6875rem;
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}
.login-page_title {
    color: rgba(70, 25, 25, 1);
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 3.1875rem;
    text-align: center;
}

/* ///////////////////////// */

.new-auction_container {
    background: rgba(36, 10, 22, 0.95);
    padding: 7.25rem 5.875rem;
}
.new-auction_block {
    display: flex;
    flex-direction: column;
    gap: 1.0625rem;
    border-radius: 1.25rem;
    background: rgba(235, 237, 239, 1);
    padding: 1.8125rem 0 3.5rem 2.0625rem;
    color: #000;
}
.new-auction_title {
    color: rgba(70, 25, 25, 1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
}
.new-auction_form {
    display: flex;
    flex-direction: column;
    gap: .4375rem;
}
.new-auction_label {
    color: rgba(70, 25, 25, 1);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
}
.new-auction_input {
    max-width: 25rem;
    padding: .4375rem;
    border-radius: .875rem;
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: .625rem;
}
.new-auction_textarea {
    max-width: 37.5rem;
    height: 18.75rem;
    padding: .4375rem;
    border-radius: .875rem;
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: .625rem;
}
.new-auction_file {
    margin-bottom: .625rem;
}
.button-save {
    width: 7.8125rem;
}
