<div class="header">
    <div class="header_container">
        <h1>MyAuction</h1>
        <ul class="header_nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Домашня сторінка</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">Список відстеження</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">
                        Кабінет користувача <strong>{{ user.username }}</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Вийти</a>
                </li>
            {% else %}
                <li class="nav-item">
                     <a class="nav-link" href="{% url 'login' %}">Увійти</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Зареєструватися</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>