<div class="header">
    <div class="header_container">
        <h1>Auctions</h1>
        <ul class="header_nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_auction' %}">Create Auction</a>
                </li>
            {% else %}
                <li class="nav-item">
                     <a class="nav-link" href="{% url 'login' %}">Log In</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <div class="header_profile">
            {% if user.is_authenticated %}
                Signed in as&nbsp;<strong>{{ user.username }}</strong>
             {% else %}
                 Not signed in.
            {% endif %}
        </div>
    </div>
</div>