{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Auctions{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
</head>
<body>

    <div class="wrapper">
         {% include "auctions/header.html" %}

        <main class="page">
            {% block content %}
            {% endblock %}
        </main>

        {% include "auctions/footer.html" %}
    </div>

    <script src="{% static 'auctions/js/auction_timers.js' %}"></script>

</body>
</html>
