{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Auctions{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
</head>
<body>

    <div class="wrapper">
        {% include "auctions/header.html" %}

        {% if messages %}
             <div class="container mt-3">
                 {% for message in messages %}
                     <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                         {{ message }}
                         <button type="button" class="close d-flex align-items-center" data-dismiss="alert" aria-label="Close" style="margin-top: -4px;">
                             <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                 {% endfor %}
             </div>
         {% endif %}

        <main class="page">
            {% block content %}
            {% endblock %}
        </main>

        {% include "auctions/footer.html" %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="{% static 'auctions/js/auction_timers.js' %}"></script>
    <script src="{% static 'auctions/js/switch_auctions.js' %}"></script>

</body>
</html>
