{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Auctions{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
</head>
<body>

    <div class="wrapper">
         {% include "auctions/header.html" %}

        <main class="page">
            {% block content %}
            {% endblock %}
        </main>

        {% include "auctions/footer.html" %}
    </div>

    <script src="{% static 'auctions/js/auction_timers.js' %}"></script>
    <script src="{% static 'auctions/js/switch_auctions.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>
