{% extends "auctions/layout.html" %}

{% block title %}Створити новий аукціон{% endblock %}

{% block content %}
    <div class="new-auction_container">
        <div class="new-auction_block">
            <h2 class="new-auction_title">Новий аукціон</h2>

            <form method="post" enctype="multipart/form-data" class="new-auction_form">
                {% csrf_token %}

                <label class="new-auction_label">Назва:</label>
                {{ form.name }}

                <label class="new-auction_label">Опис:</label>
                {{ form.description }}

                <label class="new-auction_label">Початкова ставка:</label>
                {{ form.start_price }}

                <label class="new-auction_label">Зображення:</label>
                {{ form.image }}

                <label for="end_time" class="new-auction_label">Час завершення аукціону:</label>
                {{ form.end_time }}

                <button type="submit" class="new-auction_button">Створити</button>
            </form>
        </div>
    </div>
{% endblock %}