{% extends "auctions/layout.html" %}

{% block title %}Створити новий аукціон{% endblock %}

{% block content %}
    <div class="new-auction_container">
        <div class="new-auction_block">
            <h2 class="new-auction_title">Новий аукціон</h2>

            <form method="post" enctype="multipart/form-data" class="new-auction_form">
                {% csrf_token %}

                <div class="form-group">
                    <label class="new-auction_label">Назва:</label>
                    {{ form.name }}
                </div>

                <div class="form-group">
                    <label class="new-auction_label">Опис:</label>
                    {{ form.description }}
                </div>

                <div class="form-group-row">
                    <div class="form-group">
                        <label class="new-auction_label">Початкова ставка:</label>
                        {{ form.start_price }}
                    </div>

                    <div class="form-group">
                        <label class="new-auction_label">Категорія:</label>
                        {{ form.category }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="new-auction_label">Зображення:</label>
                    <div class="file-upload-wrapper">
                        {{ form.image }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="end_time" class="new-auction_label">Час завершення аукціону:</label>
                    {{ form.end_time }}
                </div>

                <button type="submit" class="button-primary btn-submit-auction">Створити аукціон</button>
            </form>
        </div>
    </div>
{% endblock %}